header{
    background-color: rgba(17, 221, 204, 0.884);
    width:100%;
    height:6rem;
   
}

header ul li a{
    color: rgb(163, 158, 149);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;

    padding:10px;

}

li{

    display: inline;


}
*{
    padding: 0;margin: 0;
}
ul{
    padding-top: 2rem;
    padding-left:3rem;
    padding-right:3rem;
    
    
    
}
.content{
    margin:5rem;
    padding: 1rem;
    padding-left: 1rem;
    background-color: rgb(2, 100, 107);
    border-radius:10px;
    border:solid transparent;
    color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
footer{
    background-color: teal;
    position: fixed;
    bottom: 0px;

}